<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>weblog card - newest row</title>
        <base href="../../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    </head>
    <body class="d-grid grid-2 font-primary">
        <div class="weblog-card relation d-flex radius-all-small align-items-center font-weight-regular">
            <a href="#" class="w-50 position-relative">
                <div class="cover-image">
                    <img class="radius-all-medium w-100" src="./assets/media/images/component/pci1.png">
                </div>
                <div class="d-flex gap-1 align-items-center position-absolute m-3 bottom-0 right-0 z-index-2 on-primary-color font-weight-bold">
                    <i class="icon-clock txt-extra-title"></i>
                    <p class="txt-big">15دقیقه</p>
                </div>
            </a>
            <div class="d-flex flex-column gap-4 py-4 px-4 w-100">
                <a href="#">
                    <h3 class="text-color txt-extra-title font-weight-bold">اندروید باکس نت باکس موبوادیشن ، تلویزیون هوشمند ارزان</h3>
                </a>
                <p class="secondary-text-color txt-big font-weight-bold">در دنیای پیشرفته فناوری امروز، لپ تاپ‌ها نقشی اساسی در زندگی روزمره و
                    حرفه‌ای ما ایفا کرده و انتخاب یک لپ تاپ مناسب تأثیر قابل توجهی بر بهره‌وری، خلاقیت و حتی سرگرمی کاربران
                    دارد.</p>
                <div class="d-flex justify-content-space-between align-items-cente secondary-text-color txt-big">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center gap-12">
                            <div class="d-flex gap-2 align-items-center">
                                <i class="icon-user"></i>
                                <p class="txt-big">مدیر سایت</p>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <i class="icon-calender"></i>
                                <p class="txt-big">۰۶ مهر ۱۴۰۳</p>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <i class="icon-comment"></i>
                                <p class="txt-big">1</p>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex gap-3 align-items-center">
                        <p class="txt-big">مطالعه کن</p>
                        <i class="icon-arr-left text-color"></i>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>