@use "../../../../sass/kernel/" as *;


.slider-frame {
    overflow: hidden;
    height: 2rem; /* ارتفاع کافی برای h3 */
    position: relative;
    width: 150px;
  }
  
  .slider-frame h3 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  
  .slider-frame h3.active {
    transform: translateY(0);
    opacity: 1;
  }
