<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>certificate-of-appreciation</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="font-primary">

<div class="story">
    <!-- <input type="checkbox" id="story-one" hidden=""> -->
    <!-- <label for="story-one" class="w-fit-content h-fit-content"> -->
        <div class="bg-color px-3 py-3 ar-1 radius-all-full overflow-hidden d-flex align-items-center justify-content-center">
            <div class="story-line ar-1 border-full overflow-hidden d-flex align-items-center justify-content-center">
                <div class="border-full overflow-hidden ar-1 px-1 py-1 bg-background d-flex align-items-center justify-content-center">
                    <img src="./assets/media/images/f5f8c5c742526d421790aa78ffe3bc1f0dfb31cf_1740600880-169x300.jpg" alt="" class="w-100 h-100 border-full">
                </div>
            </div>
        </div>
    <!-- </label> -->
    <!-- <label for="story-one" class="w-fit-content h-fit-content"> -->
        <span class="txt-normal bold secondary-text text-nowrap">شاهین اتوماتیک G</span>
    <!-- </label> -->
    <div class="story-content p-fixed z-index-high d-flex flex-column align-items-center d-none overflow-hidden vh-100 vw-100">
        <div class="content">
            <span class="story-slide-bg-1"></span>
            <span class="story-slide-bg-2"></span>
            <span class="story-slide-bg-3"></span>
            <img src="./assets/media/images/14.jpg" alt="" class="w-100 h-100">
            <div class="w-100 h-100 p-absolute top-0 right-0 px-3 py-3 d-flex flex-column align-items-center justify-content-space-between">
                <div>
                    <div class="timeline"></div>
                    <div class="d-flex flex-row align-items-center gap-4">

                        <div class="product-img">
                            <img src="./assets/media/images/Frame-19-300x300.png" alt="" class="w-100">
                        </div>

                        <span class="name py-2 px-3 txt-normal bold on-primary border-small">لپ تاپ مک بوک ایر
                            اپل
                            مدل MacBook Air MRYT</span>

                        <label for="story-one">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                <g clip-path="url(#clip0_987_2706)">
                                    <path d="M23.6797 8.375L8.47689 23.5778" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M8.47689 8.37533L23.6797 23.5781" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_987_2706">
                                        <rect width="21.5" height="21.5" fill="white" transform="translate(31.2812 15.9766) rotate(135)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </label>

                    </div>
                </div>

                <div class="w-100 d-flex flex-row px-6 py-4 gap-10">
                    <div class="d-flex flex-column gap-1 align-items-center">
                        <i class="fa-regular fa-heart on-primary txt-big-title"></i>
                        <span class="txt-title on-primary">9</span>
                    </div>
                    <div class="d-flex flex-column gap-1 align-items-center">
                        <i class="fa-regular fa-comment on-primary txt-big-title"></i>
                        <span class="txt-title on-primary">6</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


    </body>
</html>