@use "../../../../../sass/kernel/" as *;

$article-banner-weblog-custom-classes: ".radius-all-medium, .w-48, .w-xl-100, .h-50, .h-md-100, .on-primary-color, .font-weight-medium";
$article-banner-weblog-gradient: linear-gradient(180deg, rgba(2, 25, 89, 0) 0%, #021959 100%);
$article-banner-weblog-banner-content-custom-classes: ".z-index-2, .m-10, .gap-5";
$article-banner-weblog-banner-content-title-custom-classes: ".txt-big-title, .font-weight-bold";

.article-banner-weblog{
    @extend .d-flex, .flex-column, .position-relative, .overflow-hidden, #{$article-banner-weblog-custom-classes};

    img{
        @extend .w-100, .object-cover;
    }

    &::after{
        content: "";
        background-image: $article-banner-weblog-gradient;
        @extend .position-absolute, .opacity-7, .right-0, .top-0, .w-100, .h-100, .z-index-1, .radius-all-small;
    }

    .banner-content{
        @extend .d-flex, .align-items-start, .flex-column, .position-absolute, .bottom-0, .right-0, #{$article-banner-weblog-banner-content-custom-classes};
    }

    .title{
        @extend #{$article-banner-weblog-banner-content-title-custom-classes};
    }
}