@use "../../../../../sass/config/_dims" as *;
@use "../../../../../sass/kernel/" as *;
@use 'sass:map';

$story-modal-container-custom-classes: ".bg-transparent-color, .justify-content-center, .align-items-center";
$story-modal-content-custom-classes: ".position-absolute, .top-0, .left-0, .z-index-10, .d-flex, .flex-column, .align-items-center, .overflow-hidden, .w-100, .h-100";
$story-modal-close-custom-classes: ".cursor-pointer";
$story-modal-content-animation: 0.3s ease-out forwards;
$story-content-custom-classes: ".w-22, .aspect-ratio-1x2, .w-xl-26, .w-lg-34, .w-md-40, .w-sm-60";
$story-timelines-custom-classes: ".gap-1";
$story-timeline-custom-classes: ".my-4, .w-100, .radius-all-full, .bw-2, .border-secondary-color, .bt-style-solid";




.story-content{
    @extend .position-relative, #{$story-content-custom-classes};

    .story-timelines{
        @extend .d-flex, .align-items-center, .justify-content-start, #{$story-timelines-custom-classes};

        .timeline{
            @extend #{$story-timeline-custom-classes};
        }
    }

    .shadow-1, .shadow-2, .shadow-3 {
        position: absolute;
        z-index: -1;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.08);
        
    }

    .shadow-1 {
        top: 20px;
        right: -12px;
        width: calc(100% - 33px);
        height: calc(100% - 40px);
    }

    .shadow-2 {
        top: 48px;
        right: -25px;
        width: calc(100% - 33px);
        height: calc(100% - 96px);
    }

    .shadow-3 {
        top: 20px;
        left: -12px;
        width: calc(100% - 25px);
        height: calc(100% - 40px);
    }

    .product-name{
        background-color: rgba(255, 255, 255, 0.10);
    }
}


.modal-container.story-modal {
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
    @extend .d-none, .position-fixed, .top-0, .left-0, .overflow-hidden, #{$story-modal-container-custom-classes};

    &.show {
        pointer-events: all;

        & .modal-content {
            display: flex;
            animation: modal-open $story-modal-content-animation;
        }
    }

    &.hide {
        pointer-events: none;

        & .modal-content {
            display: flex;
            animation: modal-close $story-modal-content-animation;
        }
    }

    .modal-content {
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        @extend .d-none, #{$story-modal-content-custom-classes};
    }

    .modal-close {
        @extend #{$story-modal-close-custom-classes};
    }
}

@keyframes modal-open {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-close {
    from {
        opacity: 1;
        transform: scale(1);
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}