@use "../../../../sass/kernel/" as *;
@use "sass:map";

$product-card-transition: all 200ms linear;
$product-card-custom-classes: ".px-7, .py-7, .radius-all-medium, .bw-1, .border-color, .border-style-solid";
$product-card-image-container-custom-classes: ".pt-1, .pb-5, .px-3";
$product-card-image-box-custom-classes: ".w-70";
$features:(
    checkpay : ".py-1, .px-2, .bg-on-secondary-color, .radius-all-small, .on-primary-color, .txt-normal, .font-weight-bold",
);

.product-card{
    transition: $product-card-transition;
    @extend .position-relative, #{$product-card-custom-classes};

    &:hover{
        background-color: get-color(card);
    }

    .image-container{
        @extend .d-flex, .justify-content-center, .position-relative, #{$product-card-image-container-custom-classes};

        .feature{
            @extend .position-absolute, .left-0;
    
            @each $feature-class , $feature-custom-classes in $features{
                &.#{$feature-class}{
                    @extend #{$feature-custom-classes};
                }
            }
        }

        .image-box{
            @extend .d-flex, .justify-content-center, #{$product-card-image-box-custom-classes};

            img{
                @extend .w-100;
            }
        }
    }
}