@use "../../../../sass/kernel/" as *;
@use "sass:map";

$product-card-transition: all 200ms linear;
$product-card-custom-classes: ".px-7, .py-7, .radius-all-medium, .bw-1, .border-color, .border-style-solid";
$features:(
    checkpay : ".py-1, .px-2, .bg-on-secondary-color, .radius-all-small",
);

.product-card{
    transition: $product-card-transition;
    @extend .position-relative, #{$product-card-custom-classes};

    &:hover{
        background-color: get-color(card);
    }

    .feature{
        @extend .position-absolute, .left-0;

        @each $feature-class , $feature-custom-classes in $features{
            &.#{$feature-class}{
                @extend #{$feature-custom-classes};
            }
        }
    }
}