@use "../../../../../sass/kernel/" as *;

$weblog-card-most-viewed:".radius-all-small, .gap-6";
$weblog-card-most-viewed-title: ".txt-mid-title, .text-color, .font-weight-bold";
$weblog-card-most-viewed-card-body: ".gap-3, .px-5, .pb-6";
// <!--* add .txt-align-justify  *-->
$weblog-card-most-viewed-card-body-direction: ".txt-big, .text-color";
// <!--* add .txt-align-justify  *-->

.weblog-card.most-viewed {
    @extend .overflow-hidden, .d-flex, .flex-column, #{$weblog-card-most-viewed};

    & .title {
        @extend #{$weblog-card-most-viewed-title};
    }

    & .card-body{
        @extend .d-flex, .flex-column, #{$weblog-card-most-viewed-card-body};
        
        .direction{
            @extend #{$weblog-card-most-viewed-card-body-direction};
        }
    }
}