@use "../../../../sass/kernel/" as *;

$biography-custom-classes: ".overflow-hidden, .radius-all-small";
$biography-after-custom-classes: ".radius-all-small, .opacity-4";
$biography-weblog-gradient: linear-gradient(180deg, get-color(transparent) 0%, get-color(on-secondary) 100%);
$biography-title-custom-classes: ".txt-big-title, .secondary-color, .font-weight-bold";
$biography-description-custom-classes: ".secondary-color, .txt-mid-title";
$biography-cover-on-image-custom-classes: ".gap-2, .px-4, .py-6, .font-weight-bold";


.biography{
    @extend .position-relative, .d-flex, #{$biography-custom-classes};

    &::after{
        content: "";
        background-image: $biography-weblog-gradient;
        @extend .position-absolute, .right-0, .top-0, .w-100, .h-100, .z-index-1, #{$biography-after-custom-classes};
    } 

    .title{
        @extend #{$biography-title-custom-classes};
    }
    
    .description{
        @extend #{$biography-description-custom-classes};
    }

    .cover-on-image{
        @extend .d-flex, .flex-column, .position-absolute, .bottom-0, .left-0, .z-index-2, #{$biography-cover-on-image-custom-classes};
    }
}