.icon-share::before {
    content: "\e92a";
    font-family: 'icomoon';
    font-style: normal;
}

#article .accordion {
    box-shadow: unset;
    border: unset;
}

/////////////////////////////////////////////////////////////////////////miz
#article .shadow {
    box-shadow: 0 3px 2px rgba(2, 25, 89, 0.02);
}

#article .border-bottom {
  border-bottom: 1px solid var(--border) ;
}

#article input {
    border: 1px solid var(--border-fields);
}

#article textarea {
    border: 1px solid var(--border-fields);
}

#article .bg-btn-variantly {
    background-color: #0650A3;
}

.icon-arr-left-foot::before {
  content: "\e908";
  font-family: 'icomoon';
  font-style: normal;
}

.dinasty {
    white-space: nowrap;
}

////////////////////////////////////////////////////////////////

@media screen and (width < 1400px) {}

@media screen and (width < 1200px) {}

@media screen and (width < 992px) {
    .flex-lg-column-reverse {
        flex-direction: column-reverse;
    }
}

@media screen and (width < 768px) {
    .flex-md-column-reverse {
        flex-direction: column-reverse;
    }
}

@media screen and (width < 576px) {}