
#compare-page .product-sales {
  border-bottom: none;
  border-top: none;
}
#compare-page section {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 1300px;
}
#compare-page section div>div:nth-child(4) a{
    background-color: #16A8B3;
 }
#compare-page .border-left {
    border-left: 1px solid var(--divider-color);
  }
  #compare-page .border-bottom {
  
  border-bottom: 1px solid var(--divider-color);
}
#compare-page section .margin-top {
    margin-top: -10px;
  }
  #compare-page section .secondary-text{color: #5e6a8d;}
  #compare-page .horizental-line {
  width: 90%;}
@media screen and (width < 1400px) {
    

}

@media screen and (width < 1200px) {}

@media screen and (width < 992px) {
   
    }


@media screen and (width < 768px) {
  
}

@media screen and (width < 576px) {}
