/*story*/

.story {
    width: 100px;
}

/* hero */

#hero .slider-wrapper{
  aspect-ratio: 3;
}

#hero .slider-arrows{
  top: 50%;
  bottom: 50%;
}
.text-nowrap {text-wrap: nowrap;}
@media screen and (width < 1400px) {}
@media screen and (width < 1200px) {}
@media screen and (width < 992px) {}
@media screen and (width < 768px) {}
@media screen and (width < 576px) {}