/* hero */

#hero .slider-wrapper{
  aspect-ratio: 3;
}

#hero .slider-arrows{
  top: 50%;
  bottom: 50%;
}



/* hero */
.hedding {
    width: 100%;
    height: 1px;
    background-color: #DDDDDD;
    position: relative;
    margin-bottom: 3rem;
}

.hedding>* {
    transform: translateY(50%);
}

.hedding a i {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 3px 4px 9px 0px #e8064536 !important;
}


#mobile-product .scroll-button {
    box-shadow: 0 3px 10px rgba(2, 25, 89, 0.05);
}

#amazing-products .amazing-card {
    width: 276px;
}


#laptop-product .scroll-button {
    box-shadow: 0 3px 10px rgba(2, 25, 89, 0.05);
}

#credit-purchase .timer {
    letter-spacing: 15px;
}

#credit-purchase .line {
    width: 100%;
    height: 1px;
    background-color: #DE0642;
}


#credit-purchase .long {
    width: 85%;
    height: 5px;
    border: 1px solid white;
    border-radius: 50px;
}


#credit-purchase .short {
    width: 15%;
    height: 5px;
    background-color: white;
    border-radius: 50px;
}

#amazing-offers .off {
    padding: 0.2rem 1rem;
    background-color: var(--primary-color);
    box-shadow: -3px 3px 0px 0px #C2D8E2;
    color: var(--secondary-color);
    transform: rotate(-3deg);
    border-radius: 10px;
}

#weblog .line {
    width: 100%;
    height: 1px;
    background-color: #DDDDDD;
    border-radius: 50px;
}

#box-taste .line-horizental {
    width: 1px;
    background: var(--border-color);
}

#box-taste>div>div>div+p {
    font-weight: 600;
    color: #8795AB;
}

#box-taste .tastebox {
    height: 130px;
}

#box-taste .mainprice {
    top: -92px;
}

.mainprice>div {
    width: 350px;
}

#box-taste .mainprice {
    position: absolute;
    z-index: 1000;
    top: -91px;
}

#kala-pack .packbox.px-8.py-5 {
    height: 85px;
    border-bottom: 1px solid var(--border-color);
}


#kala-pack>div:nth-child(1)>div:nth-child(2) {
    overflow-y: scroll;
    height: 170px;
    scrollbar-color: #E80645 #F3F6F9;
}

#kala-pack .packbox>a>div>span:nth-child(2) {
    overflow: hidden;
    text-wrap: nowrap;
    width: 130px;
    text-overflow: ellipsis;
}

#kala-pack .text-decoration {
    text-decoration: line-through;
}

#kala-pack {
    flex-direction: row !important;
}

.image-box img {
    width: 60px;
}

#kala-pack .image-box p {
    overflow: hidden;
    text-wrap: nowrap;
    width: 130px;
    text-overflow: ellipsis;
}

#kala-pack .image-box {
    width: 350px;
    bottom: 110px;
    left: 100px;
}

#kala-pack .packbox a img {
    width: 37px;
    height: 37px;
}

#kala-pack .packbox>a>span:nth-child(2) {
    overflow: hidden;
    text-wrap: nowrap;
    width: auto !important;
    text-overflow: ellipsis;
}

@media screen and (width < 1200px) {
    #kala-pack {
        flex-direction: column !important;
    }
}



@media screen and (width < 1400px) {}

@media screen and (width < 1200px) {}

@media screen and (width < 992px) {}

@media screen and (width < 768px) {}

@media screen and (width < 576px) {}