#my-account .authbox+p {
    color: #9ea7be;
}
.authbox {
    box-shadow: 0px 33px 126px 20px rgba(154, 168, 188, 0.06);
    width: 430px;
}

.authbox form {
    border: 1px solid var(--border);
}

.authbox input {
    border: unset;
    outline: none;
}

.authbox label {
    letter-spacing: 0.9rem;
    font-weight: 600;
    color: #021959;
}

.authbox>div+div+a {
    box-shadow: 7px 7px 13px -3px #e806453d !important;
}

.authbox>div>span>span {
    color: #8c94a9;
}

.authbox>div>span {
    font-weight: 600;
}

.authbox p span {
    background: #fff077;
    box-shadow: 0px 3px 32px 6px rgba(255, 240, 119, 0.26);
    letter-spacing: 0.5rem;
    margin: auto;
}

.authbox form+p {
    font-weight: 600;
    font-size: 0.7rem;
}

@media screen and (width < 768px) {
    .authbox {
    
    width: 100%;
}
}