#offer #offer-wrapper p span {
    font-weight: 600;
    color: rgba(2, 25, 89, 0.7);
}

#offer .product-card {
    width: auto !important;
}

#offer #offer-wrapper .product-card {
    box-shadow: unset;
}

#offer #offer-wrapper .product-card:hover {
    background-color: #F3F5F8;
    transition: var(--transition-duration);
}

#offer #offer-wrapper .product-card>div:nth-child(2) img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

#offer #offer-wrapper .container+a {
    background-color: #E8EBF4;
}