

.description-wrapper a:hover {
    border-bottom: 1px dashed var(--secondary-text);
    transition: all 200ms linear;
}

#simple-product #productpage .featurebox:nth-child(4)::after {
    content: "";
    width: 0px;
    height: 0%;
    background: var(--border);
}

#simple-product #productpage>div>div:nth-child(3)>div:nth-child(1)>div>div>div:nth-child(1)>span::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--border);
    margin-top: 1rem;
}

#simple-product #productpage>div>div:nth-child(3)>div:nth-child(1)>div>span:nth-child(1)::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--border);
    margin-top: 0.5rem;
}

#simple-product #productpage .swiper-slide {
    width: 260px;
}

#simple-product .tag-item input[type="radio"]:checked+label {
    background-color: #021959;
    color: var(--on-primary);
}

#simple-product main>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) img {
    width: 27px;
    height: 27px;
}

#simple-product .vertical-line {
    height: 0.5rem;
    background-color: var(--divider);
    width: 1px;
}

#simple-product main > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > span:nth-child(2) {
  background: #FFF077;
}











html {
    scroll-behavior: smooth;
}

.fa-regular + div {
  width: 14px;
  height: 1px;
  background: #cdd6e3;
}

div:has(>.rating-card) {
    top: 2rem ;
}

div:has(.ratingbox) {
    top: 5rem;
}

.ratingbox.question {
  box-shadow: 4px 3px 12px 0px #eeecec;
  background-image: linear-gradient(-34deg , white 60% , #EEECEC 100%);
}

.rating-card {
  background: linear-gradient(-34deg, #FDFDFD 70%, #E5E5E582 100%);
  box-shadow: 90px 160px 200px -120px rgba(0, 0, 0, 0.49);
}

.ratingbox.question > div:nth-child(2) > div::before {
  content: "";
  width: 2px;
  background: #E8EDF3;
}

.reviewsubmit {
 box-shadow: 0px 11px 5px -6px rgba(223, 228, 235, 0.5), 0px -1px 2px 0px rgba(126, 127, 128, 0.5);
}



//card

.special-Offerbox > div:nth-child(2) > div::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--border) !important;
}

.special-Offerbox {
  box-shadow: 0px 8px 5px -6px rgba(223, 228, 235, 0.5) , 0px -1px 1px 0px rgba(126, 127, 128, 0.5);
}

div:has(> .special-Offerbox) {
    top: 3rem;
}

.special-Offerbox > div:nth-child(4)::after {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--border);
  padding-bottom: 8px;
}





@media screen and (width < 1400px) {}

@media screen and (width < 1200px) {
    #productpage {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }
    #simple-product #productpage>div>div:nth-child(2) {
        margin-top: unset;
    }
}

@media screen and (width < 992px) {
    #simple-product div>.iconlabel:nth-child(1)>a:nth-child(2) {
        transform: translateX(-132px);
        z-index: 100;
    }
    #simple-product div>.iconlabel:nth-child(1)>svg:nth-child(1):hover+a {
        opacity: 1 !important;
        transform: translateX(-132px);
        z-index: 100;
    }
}

@media screen and (width < 768px) {
    #simple-product #productpage>div>div:nth-child(3)>div:nth-child(1)>div>div>div:nth-child(1)>span::after {
        content: "";
        width: 100%;
        height: 1px;
        background: unset;
        margin-top: 1rem;
        display: none;
    }
    #simple-product #productpage>div>div:nth-child(3)>div>div>div:nth-child(1)>div>span {
        flex-direction: row-reverse !important;
    }
    #simple-product .iconlabel {
        flex-direction: column !important;
    }
    #simple-product .iconlabel a {
        transform: translatex(0px) translateY(30px) !important;
    }
    #simple-product .iconlabel a:hover {
        transform: translatex(0px) translateY(30px) !important;
        z-index: 100 !important;
    }
    #simple-product #productpage>div:nth-child(1)>div:nth-child(1) a {
        font-size: 10px !important;
        text-wrap: nowrap;
    }
    #simple-product .slider-image-product label {
        width: 120px;
    }
    #simple-product .flex-lg-nowrap {
        flex-wrap: nowrap;
    }
    #productpage {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }
    #simple-product #productpage>div>div:nth-child(3)>div:nth-child(1)>div:nth-child(2) {
        overflow: scroll;
        gap: 10px;
    }
    #simple-product #productpage>div>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div {
        width: auto;
        flex-shrink: 0;
    }
    #simple-product #productpage .slider-image-product label {
        width: 100px;
        flex-shrink: 0;
    }
    #simple-product #productpage .slider-image-product>div:nth-child(12) {
        overflow: scroll;
        width: 100%;
        flex-wrap: nowrap;
    }
    #simple-product #productpage .horizental-line {
        width: 70%;
    }
    #simple-product #productpage .product-content p {
        font-size: 0.9rem;
    }
    #simple-product main>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (width < 576px) {
    #productpage {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    #simple-product #productpage .slider-image-product label {
        width: 80px;
        flex-shrink: 0;
    }
    #simple-product #productpage .horizental-line {
        width: 60%;
    }
    #simple-product main>div:nth-child(1) span {
        font-size: 0.8rem;
    }
     .comment-gallery {
  width: 35%;
}
}