

#variable-product .popup-all .special-Offerbox label p{
    cursor: pointer;
}

#variable-product body:has(>main .popup-all #card-shop-open:checked) { 
    height: 100vh !important;
    overflow: hidden !important;
    filter: blur(0.3);
}

#variable-product .popup-all #card-shop-open[type="radio"]:checked + input + div + .pop-product {
  width: 100%;
  height: 100%;
  background-color: #d4d7db50;
  
  left: 0px !important;
  top: 0px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

#variable-product .popup-all #card-shop-open[type="radio"]:checked + input + div + .pop-product>div {
  height: auto;
}

#variable-product body:has(>main .popup-all #card-shop-open:checked) { 
        height: 100vh !important;
    overflow: hidden !important;
    filter: blur(0.3);
}

#variable-product body::after:has(>main .popup-all #card-shop-open+#card-shop-close:checked) {
    content: "";
    width: 100%;
    height: 100%;
    height: 100% !important;
    overflow: hidden !important;
    position: absolute;
    top:0px;
    

}

#variable-product body::after:has(>main .popup-all #card-shop-open+#card-shop-close:checked) {
    content: "";
    width: 100%;
    height: 100%;
    height: 100vh !important;
    overflow: hidden !important;
    position: absolute;
    top:0px;
}

#variable-product body::after:has(>main .popup-all #card-shop-open+#card-shop-close:checked) {
    content: "";
    width: 100%;
    height: 100%;
    height: 100% !important;
    overflow: hidden !important;
    position: absolute;
    top:0px;
    

}

#variable-product .popup-all #card-shop-open[type="radio"]:checked + input + div + .pop-product {
  display: flex !important;
  left: calc(100% - 65%);
  top:25%;
}


#variable-product .popup-all {
  position: sticky;
  top: 100px;
  
}

#variable-product .variable-product.special-Offerbox.p-sticky{
  position: sticky;
  top: -40px;
}

#variable-product .position-stick {
  position: sticky;
  top: 100px;
  bottom: 0px !important;
}




html {
    scroll-behavior: smooth;
}



#variable-product main > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > span:nth-child(2) {
  background: #FFF077;
  border-radius: 3px;
}

.fa-regular + div {
  width: 14px;
  height: 1px;
  background: #cdd6e3;
}










.special-Offerbox.variable-product>div:nth-child(6)>div:nth-child(1) {
    color: #67759b;
}

.special-Offerbox.variable-product>div:nth-child(6)>div:nth-child(1) {
    background-color: #f2f4fb;
    opacity: 1;
}

.special-Offerbox.variable-product>div:nth-child(6) a {
    opacity: 0.5;
}

.special-Offerbox.variable-product>div:nth-child(3)::after {
    content: "";
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #dce0e7 20%, #f54b5e 20% 80%);
    display: none;
}

.special-Offerbox.special-Offerbox-three>div:nth-child(4)>div:nth-child(1) {
    color: #67759b;
}

.variable-product select {
    border: none;
    background-color: #f2f4fb;
}

.variable-product label {
    color: #444;
}

.variable-product select {
    color: #444;
    font-weight: 500;
}

.special-Offerbox.variable-product>div:nth-child(5)>label+div {
    background-color: #f2f4fb;
}

.special-Offerbox.variable-product>div:nth-child(5)>label+div+div+div {
    background-color: #f2f4fb;
}

.special-Offerbox.variable-product>div:nth-child(4)>div:nth-child(2) {
    background-color: #f2f4fb;
}

.special-Offerbox.variable-product>div:nth-child(4)>div:nth-child(4) {
    background-color: #f2f4fb;
}

.special-Offerbox.variable-product>a:nth-child(5) {
    color: #e80645 !important;
    background-color: #e806451f !important;
}

.variable-product.special-Offerbox input+label>div>div>i {
    color: white;
    width: 24px;
    height: 20px;
    opacity: 0;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(1) input+label>div {
    background-color: #F8EAD3;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(2) input+label>div {
    background-color: #D8F0E6;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(3) input+label>div {
    background-color: #CCCCCC;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(4) input+label>div {
    background-color: #FCD1D6;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(5) input+label>div {
    background-color: #D0DAF9;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(1) input+label>div>div {
    background: #db9521;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(2) input+label>div>div {
    background: #3eb580;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(3) input+label>div>div {
    background: #000;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(4) input+label>div>div {
    background: #ee1a34;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(5) input+label>div>div {
    background: #1544e3;
}

.variable-product.special-Offerbox input[type="radio"]:checked+label>div>div>i {
    opacity: 1;
}

.variable-product.special-Offerbox input[type="radio"]:checked+label>div {
    opacity: 1;
    background: #db9521;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(1) input[type="radio"]:checked+label>div {
    background: #db9521;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(2) input[type="radio"]:checked+label>div {
    background: #3eb580;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(3) input[type="radio"]:checked+label>div {
    background: #000;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(4) input[type="radio"]:checked+label>div {
    background: #ee1a34;
}

.variable-product.special-Offerbox>div:nth-child(3)>div>div:nth-child(5) input[type="radio"]:checked+label>div {
    background: #1544e3;
}

.variable-product.special-Offerbox>div:nth-child(4)::after {
    display: none;
}

.special-Offerbox::after, .call-product::after {
  background: linear-gradient(180deg, #e2e6ed, #ffffff);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 1px;
    padding-bottom: 1px;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: add, add;
  mask-composite: add, add;
  mask-composite: add, add;
  mask-composite: add, add;
  mask-composite: exclude;
  left: 0px;
  top: 0px;
  border-radius: 17px;
  padding-bottom: 0px;
}

.special-Offerbox {
  box-shadow: 22px 33px 90px 20px rgba(154, 168, 188, 0.06);
}

