.icon-search:before {
    content: "\e919";
    font-family: 'icomoon';
    font-style: normal;
}

::placeholder {
    font-weight: 700;
    color: #4D5E8A;
}

.veiwall .icon-arr-left-foot {
    box-shadow: 3px 4px 9px 0px #e8064536 !important;
    border-radius: 20px 8px 8px 20px;
}

.veiwall .icon-arr-left-foot::before {
    content: "\e908";
    font-family: 'icomoon';
    font-style: normal;
}

.border-unset{
    border: unset;
}
.outline-unset{
    outline: unset;
}

@media screen and (width < 1400px) {}

@media screen and (width < 1200px) {
    .w-xl-200 {
        width: 200%;
    }
}

@media screen and (width < 992px) {
    .font-size-lg-16px {
        font-size: 16px;
    }
}

@media screen and (width < 768px) {}

@media screen and (width < 576px) {}