<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>logo banner</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="font-primary">
        <div class="d-grid grid-3 gap-20">

            <div class="logo-banner">
                <img src="./assets/media/images/componnent/logo3.png" alt="">
                <div class="under-banner">
                    <div class="d-flex gap-3 align-items-center">
                        <i class="fa-solid fa-droplet txt-title"></i>
                        <span class="description">لوگو پس زمینه ساده</span>
                    </div>
                    <a href="./assets/media/images/componnent/logo3.png" download>
                        <i class="icon-download-banner fa-regular fa-floppy-disk"></i>
                    </a>
                </div>
            </div>
            
        </div>
    </body>
</html>