@use "../../../../../sass/kernel/" as *;

// .story {
//     text-overflow: ellipsis;
//     overflow: hidden;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 0.5rem;
//     width: 95px;
// }

// .story .story-img {
//     box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.40) inset;
//     border-radius: 50%;
//     padding: 1rem;
//     aspect-ratio: 1;
// }

.story-line::after {
    content: "";
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    background-image: url("../media/images/story-ring.svg");
    background-size: cover;
    background-position: center;
    box-shadow: 10px -10px 5px rgba(220, 5, 172, 0.06),
        0px 0px 5px rgba(235, 53, 44, 0.32),
        -10px 10px 5px rgba(245, 155, 8, 0.06),
        inset 10px -10px 5px rgba(220, 5, 172, 0.09),
        inset 0px 0px 5px rgba(235, 53, 44, 0.4),
        inset -10px 10px 5px rgba(245, 155, 8, 0.09);
    border-radius: 50%;
}

// .story-img {
//     box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.40);
// }


// .story .story-content {
//     background-color: rgba(0, 0, 0, 0.7);
//     backdrop-filter: blur(5px);
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     top: 0;
//     right: 0;
//     z-index: 10000000;
// }

// .story>label {
//     z-index: 10;
// }

// .story:has(>input:checked) .story-content {
//     display: flex !important;
// }

// .story .story-content .content {
//     width: 350px;
//     height: 90%;
//     margin-top: 2.5%;
//     position: relative;
// }

// .story .story-content .content img {
//     border-radius: 20px;
// }

// .story .story-slide-bg-1,
// .story-slide-bg-2,
// .story-slide-bg-3 {
//     position: absolute;
//     z-index: -1;
//     border-radius: 20px;
//     background: rgba(255, 255, 255, 0.08);
    
// }


// .story-slide-bg-1 {
//     top: 20px;
//     right: -12px;
//     width: calc(100% - 33px);
//     height: calc(100% - 40px);
// }

// .story-slide-bg-2 {
//     top: 48px;
//     right: -25px;
//     width: calc(100% - 33px);
//     height: calc(100% - 96px);
// }

// .story-slide-bg-3 {
//     top: 20px;
//     left: -12px;
//     width: calc(100% - 25px);
//     height: calc(100% - 40px);
// }

// .story .timeline{
//     width: 100%;
//     height: 2px;
//     border-radius: 50px;
//     background-color: white;
//     margin-top: 1rem;
//     margin-bottom: 1rem;
// }

// .story .name{
//     background-color: rgba(255, 255, 255, 0.10);
//     text-overflow: ellipsis;
//     overflow: hidden;
//     text-wrap: nowrap;
//     max-width: 200px;
// }

// .story .product-img{
//     padding: 0.5rem;
//     border-radius: 5px;
//     aspect-ratio: 1;
//     width: 33px;
//     background-color: white;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
// }