@use "../../../../../sass/kernel/" as *;

$baner-custom-classes: ".bg-primary-color";
$banner-left-custom-class: 15% ;
$text-color-custom-class: ".on-primary-color";
$font-size-custom-class: ".txt-mega-title ";


.banner{
    @extend .w-100,.h-50vh , .position-relative, #{$baner-custom-classes};

    .cantainer-image{
        @extend .w-100 ;

        img{
            @extend .position-absolute ;
        }

        .waterfall{
            @extend .w-100,  .bottom-0;
        }
        
        .image-product{
            left:$banner-left-custom-class;

            @extend .w-20;
        }

        .red-caver{
            @extend .w-100, .bottom-0;
        }
    }

    .cantainer-text{
        top: 15%;
        left:40%;
        @extend .position-relative ,.right-0,.w-40;

        p{
            @extend #{$text-color-custom-class};
        }

        .angle-right{
            @extend .position-absolute, .right-0;
        }

        .subtitle{
            top:10px;
            left: 445px;
            @extend .position-relative;
        }

        .title{
            @extend .font-weight-extra-bold, #{$font-size-custom-class};
        }

        .name-product{
            left: 10px;
            @extend .position-relative;
        }

        .angle-left{
            @extend .position-absolute, .left-0;
        }
    }
}


